{% load static %}

<html>


<head>
  <title>Story9</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'Story9/story9css.css' %}">


</head>

<body>
  <div class = "text-center">
  {% if user.is_authenticated %}
      <h1>Hello, {{ username }}</h1>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}

  <a href="{% url 'logout' %}">Log out</a>
</div>

  <div class = "text-center">
    <h1>Recommended Books</h1>
  </div>


  <div class = "text-center">
    <h5>Number of Favourtie Books:</h5>
    <h4 id = "counter">{{ counter }}</h4>
    </div>

  <div class = "text-center" id="display-resources">
        <p>Press the button to retrive list</p>
    </div>



  <div class = "text-center" id = "retrivelist">
  <button type='button' class='btn btn-primary'>Retrive List</button>
  </div>

  <!-- <div class = "tablecontianer">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title of Book</th>
      <th scope="col">Author</th>
      <th scope="col">Add to Favour</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">A Game of Thrones</th>
      <td>George RR Martin</td>
      <td><button type="button" class="btn btn-primary">Add to fav</button></td>
    </tr>
  </tbody>
</table>
</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'Story9/story9js.js' %}"></script>



  </body>


</html>
