
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <div class = "text-center">
  <h1>LOGIN PAGE</h1>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  </div>

  </body>


</html>
