body{
  background: linear-gradient(to bottom right, #3a1c71, #d76d77, #ffaf7b);
}

.text-center{
  margin-top: 10px;
}

.tablecontianer{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

td {
  font-weight: bold;
  font-size: 20px;
}

th{
  font-weight: bold;
  font-size: 20px;
}

.text-center p{
  font-size: 20px;
}
