{% load static %}
<html>
<head>
  <title>Story 8 </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'Story8/main.css' %}">
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



</head>

<body>

  <div class="loader"></div>


<div id = "mainContainer">
<h1 id= "title">Afrah Hardian's Info</h1>

<div class = "text-center">
<button type="button" class="btn btn-primary" onclick="changeTheme()">Change Theme</button>
</div>


<div class="accordion">
	<div class="accordion-header">Activites</div>
	<div class="accordion-content">
      <li>Full-time Student at University of Indonesia</li>
      <li>Part-time Book reader and critic</li>
      <li>VPIC Editorial Marketing Compfest 2019</li>
  </div>

	<div class="accordion-header">Past Organizations and Commities</div>
	<div class="accordion-content">
    <li>Staff Asian Games 2018</li>
    <li>Staff Peserta Betis 2018</li>
    <li>Staff Wisgen 2018</li>
  </div>

	<div class="accordion-header">Accomplishments</div>
	<div class="accordion-content">
    <li>EBT TOEFL Score: 100</li>
    <li>No other accomplishments but I was voted "The Wisest" in highschool</li>
  </div>
</div>

<div class = "text-center">
<button type="button" class="btn btn-primary"><a href= "{% url 'login'%}">Go to Story9/11</a></button>
</div>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Afrah Hardian:
      <a href="https://afrahsweb.herokuapp.com/"><b>Go to my Website!</b></a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</div>


<script src="{% static 'Story8/firstJS.js' %}"></script>




</body>
</html>
